* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display";
}

p,
li,
a,
span {
  font-family: "Source Sans 3", sans-serif;
}

/* HEADER */

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  background: #333;
  border-radius: 2px;
}

.logo {
  width: 30%;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
}

.responsive-img {
  width: 100%;
  height: 100%;
  max-width: 600px;
  display: block;
}

.nav-header {
  display: flex;
  align-items: end;
  padding: 0.25rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  list-style: none;
  text-decoration: none;
}

.nav-links a {
  font-size: 1.25rem;
  font-weight: 900;
}



.nav-regular {
  color: #111111;
  font-size: 1.25rem;
  text-decoration: none;
}


/* IMG SLIDER */

.slider {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 80vh;
  margin: auto;
  overflow: hidden;
}

.slides {
  height: 100%;
}

.slider img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

img.displaySlide {
  display: block;
  animation: fade 1.5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 1
  }
}

/* STATIC IMAGE & HEADER BANNER */

.static {
  position: relative;
  width: 100%;
  height: 37.5rem;
  margin: auto;
  overflow: hidden;
}

.static img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.static-header {
  position: absolute;
  top: 75%;
  color: #fdf9f5;
  padding: 1.5rem 1rem;
}

.static-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.static-header p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* FOOTER */

hr.element-divider-separator {
  border-top: 0.125rem solid grey
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  gap: 20px;
  font: 1.8rem;
}

.column-footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 1 1;
  margin-top: 1rem;
  gap: 1rem;
}

.footer-list {
  list-style-type: none;
}

ul.footer-list {
  padding: 0;
  font-size: 0.8rem;
}

.column-footer h3 {
  font-size: 1.5rem;
}

.column-footer p,
.column-footer li,
.column-footer a {
  font-size: 1.25rem;
  color: #111111;
  font-weight: 900;
}

.column-footer a {
  text-decoration: none;

}

.footer img {
  max-width: 380px;
}


.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
  padding: 1.5rem;
  color: #f9f9f9;
  background-color: #111111;
}

/* INDEX.HTML */

.background-img-text {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.background-img-text img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.background-img-text-header {
  position: absolute;
  top: 2%;
  right: 50%;
  left: 2%;
  color: grey;
  text-align: start;
  font-size: 3rem;
}

.threeBoxes {
  display: flex;
  justify-content: space-between;
}

.icon-indexText {
  display: flex;
  flex-direction: column;
  background-color: grey;
  width: 33%;
  padding: 2rem 1rem;
  gap: 1rem;
  color: #fdf9f5;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

/* SERVICES */

.text h2 {
  font-size: 2rem;
}

.text li,
.text h3,
.text p {
  font-size: 1.6rem;
  margin-bottom: 0.2em;
}

.split {
  display: flex;
  flex-direction: row;

}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: start;
  background: grey;
  color: #fdf9f5;
}

.text.top {
  padding: 2rem 1rem 2rem 2rem;
  border-radius: 2rem 0 0 2rem;
}

.text.bottom {
  border-radius: 0 2rem 2rem 0;
  padding: 2rem 2rem 2rem 1rem;
}

.image-content {
  width: 50%;
  max-width: 37.5rem;
  height: auto;
  max-height: 50rem;
  overflow: hidden;
}

.image-content.top {
  border-radius: 0 2rem 2rem 0;
}

.image-content.bottom {
  border-radius: 2rem 0 0 2rem;
}

.content img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* EMERGENCIES */
.description {
  color: rgb(107 114 128);
  font-size: 1.5rem;
  text-align: center;
}

.text-link {
  font-size: 1em;
  font-weight: 600;
  color: rgb(107 114 128);
}

.emergency-container {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  padding-top: 4.375rem;
}

.emergency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: grey;
  border: solid grey 0.2rem;
  margin-bottom: 0.625rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.emergency-item .label {
  width: 70%;
  color: #fdf9f5;
  padding: 0.9375rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.03125rem;
}

.emergency-item .phone {
  width: 30%;
  background: #fdf9f5;
  color: grey;
  padding: 0.95rem 1.6rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
}

.emergency-item .phone:hover {
  opacity: 0.85;
}


/* FAQs */

.questions {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 2.5rem;
  padding-top: 7.5rem;
  padding-bottom: 3.75rem;
}

.question h4 {
  text-align: start;
  width: 90%;
  font-weight: bold;
  font-size: 1.5rem;
  color: grey;
}

.answer {
  display: none;
  text-align: start;
  font-weight: 600;
  background-color: grey;
  color: #fdf9f5;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #fdf9f5;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.35);
}

.toggle-icon {
  font-weight: bold;
  cursor: pointer;
}

/* Modal overlay */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Modal content box */
.modal-content {
  background-color: #fdf9f5;
  color: grey;
  padding: 0.5rem 2rem 2rem 2rem;
  border-radius: 1rem;
  max-width: 75rem;
  width: 90%;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
  font-weight: 300;
  text-align: start;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* style headings and lists inside modal */
.modal-content h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.modal-content p,
.modal-content li {
  margin-top: 0.75rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.modal-content a {
  font-size: 1em;
  font-weight: 600;
  color: rgb(107 114 128);
}


.toggle-icon {
  font-size: 1.5rem;
  color: grey;
}

/* REPORT A FAULT */

.contact-section {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1rem;
}

.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1rem;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  line-height: 1.25rem;
  background-color: #fdf9f5;

}

.form-input::placeholder,
.form-textarea:focus-visible {
  color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid grey;
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
}

.form-submit {

  margin-top: 1.2rem;
  background-color: #fdf9f5;
  padding: 13px 5px;
  border-radius: 0.375rem;
}

/*CLIENT PORTAL SIGN IN & REGISTER */

.portalButton {
  padding: 12px;
  background: #6a38c2;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.return {
  margin: 2rem;
  display: inline-block;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  width: 50%;
  text-align: left;
}

.card h1 {
  font-size: 26px;
  color: #2c1250;
  margin-bottom: 8px;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  font-size: 14px;
}

.required {
  color: red;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="string"] {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d3d3e7;
  border-radius: 6px;
  margin-bottom: 15px;
  outline: none;
  transition: border 0.2s;
}

input:focus {
  border-color: #6a38c2;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #6a38c2;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 16px;
}

.login-btn:hover {
  background: #562ea4;
}

.divider {
  text-align: center;
  color: #aaa;
  font-size: 13px;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.register-text {
  text-align: center;
  font-size: 13px;
  color: #555;
  margin-top: 20px;
}

.register-text a {
  color: #6a38c2;
  text-decoration: none;
  font-weight: 500;
}

/* PORTAL DASHBOARD */

.hidden {
  display: none !important;
}

#dashboardLoadingMessage {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

#userFiles {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

#userFiles li {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}

#userFiles li strong {
  display: block;
  margin-bottom: 5px;
  color: #0056b3;
}

#userFiles li a {
  color: #007bff;
  text-decoration: none;
}

#userFiles li a:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */

/* For Super wide screens fix header bar width */
@media (min-width: 1700px) {
  .headerBar {
    width: 90rem;
  }
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .nav-links {
    gap: 1rem;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .background-img-text-header {
    font-size: 2.45rem;
  }

  .static-header h1 {
    font-size: 2.5rem;
  }

  .static-header p {
    font-size: 1.25rem;
  }

  .text h2 {
    font-size: 2rem;
  }

  .text li,
  .text h3,
  .text p {
    font-size: 1.3rem;
    margin-bottom: 0.2em;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .logo {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
  }

  .responsive-img {
    width: 100%;
    height: auto;
    max-width: none;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: flex;
  }

  #nav-menu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 1rem;
  }

  #nav-menu.active {
    display: flex;
  }

  .nav-header {
    justify-content: baseline;
    align-items: baseline;
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding-left: 0;
  }

  .headerBar {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  ul.nav-links li {
    border: solid, grey, 0.125rem;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 100%;
  }

  /* INDEX */
  .background-img-text-header {
    font-size: 1.75rem;
  }

  .icon-indexText {
    font-size: 1.25rem;
  }

  /* STATIC BANNER */
  .static-header h1 {
    font-size: 2rem;
  }

  .static-header p {
    font-size: 1rem;
  }


  .questions {
    width: 90%;
  }

  .card {
    width: 80%;
  }

  .text h2 {
    font-size: 1.75rem;
  }

  .text li,
  .text h3,
  .text p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  .modal-content {
    max-width: 60rem;
  }

  .modal-content h3 {
    font-size: 1.75rem;
    margin-top: 1.25rem;
  }

  .modal-content p,
  .modal-content li {
    font-size: 1.25rem;
  }

}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  /* INDEX */
  .background-img-text-header {
    font-size: 1.5rem;
  }

  .icon-indexText {
    font-size: 0.75rem;
  }

  .image-content {
    display: none;
  }

  .text {
    width: 100%;
  }

  .emergency-item .label {
    font-size: 0.8rem;
  }

  .emergency-item .phone {
    font-size: 1rem;
  }

  .modal-content {
    max-width: 90%;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    max-height: 85vh;
  }

  .modal-content h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .modal-content p,
  .modal-content li {
    font-size: 1.125rem;
  }

  .modal-close {
    font-size: 1.25rem;
    top: 0.5rem;
    right: 0.75rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .nav-links a {
    font-size: 0.9rem;
  }

  /* INDEX */
  .background-img-text-header {
    font-size: 1rem;
  }
  
  .threeBoxes {
    flex-direction: column;
    gap: 0.5rem;
  }

  .icon-indexText {
    width: 100%;
    font-size: 1rem;
  }

  .

  .emergency-item .label {
    padding: 0 1.25rem;
  }

  .modal-content {
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.75rem;
  }

  .modal-content h3 {
    font-size: 1.25rem;
    margin-top: 0.75rem;
  }

  .modal-content p,
  .modal-content li {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .nav-links a {
    font-size: 0.75rem;
  }

  .background-img-text-header {
    font-size: 0.75rem;
  }

  .modal-content {
    padding: 0.5rem 1rem 1rem 1rem;
    max-height: 90vh;
  }

  .modal-content h3 {
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }

  .modal-content p,
  .modal-content li {
    font-size: 0.95rem;
    margin-top: 0.375rem;
    line-height: 1.4;
  }
}

/* Change footer to column */
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-footer img {
    margin: auto;
  }

  div.logo-footer {
    width: 100%;
  }
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

/* style portal button out/in hamburger menu */
@media (min-width: 1024px) {
  .portalButtonSite {
    padding: 12px;
    background: #111111;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-left: 2rem;
  }
}

@media (max-width: 1024px) {
  .portalButtonSite {
    color: #111111;
    font-size: 1.25rem;
    text-decoration: none;
  }
}